@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;700&display=swap");

a {
  text-decoration: none;
  font-size: 1.125rem;
}

#about-container {
  display: flex;
  margin-top: clamp(2rem, 5vw, 5rem);
  margin-left: 2.5rem;
}

#about-description p {
  max-width: 30.625rem;
  width: 100%;
  margin-top: 0.625rem;
}

.about-header {
  font-size: 2.125rem;
  margin: 0;
}

#about-image {
  margin-right: 0.5rem;
}

#about-image img {
  margin-right: 1.875rem;
  border-radius: 5%;
  width: 200px;
}

.adj-btn {
  font-size: 1.075rem;
  width: 30px;
  height: 37px;
  background-color: #9e42b8;
  color: #ffffff;
  padding: 0px;
  border-style: none;
  margin: 0.625rem 0 0;
}

.badge {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  color: #403637;
  padding: 3px 8px 3px 8px; /* Set padding to 3px once the number is >= 10 */
  background-color: #8cb842;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  left: 15px;
  top: 20px;
  visibility: hidden;
}

.black-background {
  background-color: #403637;
  max-width: 13.438rem;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 102px;
  border-radius: 5px;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  max-width: 60rem;
  width: 100%;
  margin: auto;
}

.cart-dec-btn {
  right: 38px;
  width: 10px;
  margin-right: 0.313rem;
}

.cart-header {
  border-bottom: 2px solid #b0b0b9;
  border-top: 2px solid #b0b0b9;
  width: 190px;
  color: #5a1c6b;
  margin: auto;
  text-align: center;
}

.cart-inc-btn {
  right: 16px;
}

.cart-item-list ul {
  display: flex;
  flex-direction: column;
  height: 369px;
  overflow: scroll;
  overflow-x: hidden;
}

.cart-item-list li {
  position: relative;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  max-width: 11.25rem;
  width: 100%;
  padding-left: 0.938rem;
  padding-right: 0.938rem;
}

.cart-item-list li:nth-child(even) {
  background-color: #e5e5e8;
  padding-bottom: 0.625rem;
  margin-bottom: 0;
}

.cart-item-list li p {
  margin: auto;
  display: inline-block;
}

.cart-quantity-btn {
  color: #ffffff;
  background-color: #9e42b8;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: 78px;
  padding: 0.25px 4px 0.25px 4px;
}

.cart-summary {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.checkout-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  color: #ffffff;
  background-color: #8cb842;
  border-style: none;
  border-radius: 5px;
  padding: 10px 12px 10px 12px;
  margin-top: 0.625rem;
}

#company-overview {
  margin-top: 3rem;
}

.company-values {
  margin-left: clamp(1rem, 15vw, 15rem);
}

.company-values img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.company-values li {
  display: flex;
  margin-bottom: 1.25rem;
}

.company-value-text {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}

.company-value-text p {
  margin: 0.625rem 0 0;
  max-width: 30.625rem;
  width: 100%;
}

#contact-container section {
  margin-top: clamp(1rem, 3vw, 5rem);
  margin-bottom: clamp(1rem, 3vw, 5rem);
}

.contact-row {
  display: flex;
  justify-content: flex-start;
}

.contact-row img {
  margin-right: 0.625rem;
}

.dec {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 0.625rem;
}

.delete-btn {
  color: #ffffff;
  padding: 1px 6px 1px 6px;
  background-color: #9e42b8;
  border-radius: 50%;
  position: absolute;
  height: 21px;
  text-align: center;
  vertical-align: middle;
  right: 8px;
  top: 8px;
}

.featured-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: auto;
  margin: auto;
  margin-bottom: clamp(2rem, 6vw, 6.25rem);
  
}

.featured-product-name {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
  margin-left: 0.9375rem;
  margin-top: 0.75rem;
}

.featured-product-price {
  font-size: 1.125rem;
  color: #cfd8dc;
  margin: 0;
  margin-left: 0.9375rem;
}

.featured-products img {
  border-radius: 5%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-products li {
  position: relative;
  max-width: 13.438rem;
  width: 100%;
  margin: .25rem;
  overflow: clip;
  height: 12.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.grid-container article {
  overflow: hidden;
  height: 280px;
}

.grid-container img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 1.3125rem;
  font-family: "Kaushan Script", cursive;
  height: 1.625rem;
  vertical-align: middle;
  margin: 0;
  margin-right: auto;
  margin-bottom: 0.625rem;
}

h1 a {
  color: #ffffff;
}

h2 {
  font-size: 1.68rem;
  color: #496b11;
}

.home-page-header {
  font-size: 1.6875rem;
  color: #5a1c6b;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

.home-page-header.tagline {
  margin-top: clamp(3rem, 8vw, 7.5rem);
  font-family: "Kaushan Script", cursive;
}

h3 {
  font-size: 1.5rem;
  color: #496b11;
  margin: 0;
}

header {
  height: 60px;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

.inc {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item-details {
  display: flex;
  flex-direction: column;
  margin-left: 0.625rem;
}

.item-price-div {
  display: inline-block;
}

.item-container {
  display: flex;
  margin-top: 0.625rem;
}

main {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}

.mobile-menu-btn {
  display: none;
}

.nav-logo {
  margin-top: 0.313rem;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  max-height: 55px;
}

#nav-main {
  display: flex;
  margin: 0;
  padding: 0px;
}

#nav-main a {
  font-size: 1.2rem;
  color: #ffffff;
  margin-right: 1.25rem;
  width: auto;
  text-align: center;
  padding-top: 5px;
}

p {
  font-size: 1.125rem;
}

.paypal-btn {
  width: 155px;
}

.product-name {
  font-size: 1.125rem;
  margin: 0;
}

#product-page-cart-btn {
  font-size: 1.06rem;
  width: 156px;
  height: 50px;
  background-color: #9e42b8;
  color: #ffffff;
  padding: 12px 0px 12px 0px;
  border-style: none;
  border-radius: 5px;
  margin: 0.938rem 0 0 0.625rem;
}

#product-page-container {
  display: flex;
  margin-top: clamp(2rem, 5vw, 5rem);
}

.product-page-header {
  margin-top: 0;
  margin-bottom: 0;
}

#product-page-image {
  margin-right: 1.875rem;
}

#product-page-quantity {
  display: flex;
}

#product-page-size {
  display: flex;
}

.product-price {
  font-size: 1.125rem;
  margin: 0;
  text-align: right;
  position: absolute;
  right: 0px;
}

#product-quantity-input {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: #b1c0c4;
  border-style: none;
  border-color: #f3f3f3;
  width: 50px;
  height: 17px;
  padding: 10px 0px 10px 0px;
  margin: 0.625rem 0 0;
  color: #40494c;
  text-align: center;
}

#product-size-list {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: #b1c0c4;
  border-radius: 5px;
  border-color: #f3f3f3;
  width: 115px;
  margin: 0.625rem auto 0.625rem 0.9375rem;
  color: #40494c;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.products-list li {
  margin-right: clamp(1rem, 3vw, 3rem);
  position: relative;
}

#products-page {
  margin-top: clamp(2rem, 5vw, 5rem);
}

#products-page h2 {
  font-size: 2.125rem;
}

#shopping-cart-button {
  background-color: transparent;
  border-style: none;
  margin-right: 1.25rem;
}

.shopping-cart-dropdown {
  position: absolute;
  right: 15px;
  top: 50px;
  width: 210px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e8;
  border-radius: 3px;
  background-color: #fbfbff;
  visibility: hidden;
}

.shopping-cart-dropdown
  p:not(.cart-quantity-btn):not(.delete-btn):not(.cart-header) {
  color: black;
  font-size: 1.15rem;
}

.shopping-cart-logo {
  vertical-align: middle;
  width: 25px;
}

#site-masthead {
  background-color: #5a1c6b;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.total-price {
  display: flex;
  margin-top: 0.8125rem;
}

.total-price p:first-child {
  font-weight: bold;
}

.total-price p {
  margin: 0 auto;
}

.triangle-up {
  position: absolute;
  top: 42px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 9px solid #ffffff;
  z-index: 3;
  visibility: hidden;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*****************/
/* Tablet */
/*****************/

@media screen and (max-width: 768px) {
  #company-details {
    margin-top: 5rem;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*****************/
/* Mobile */
/*****************/

@media screen and (max-width: 570px) {
  #about-container {
    flex-direction: column;
  }

  .mobile-menu-btn {
    display: inline;
    align-self: auto;
    width: 3.75rem;
    height: 100%;
    padding: 0.375rem;
    background-color: transparent;
    border-style: none;
  }

  .mobile-menu-btn:hover {
    background-color: #322d33;
  }

  .featured-products {
    flex-direction: column;
    height: auto;
    justify-content: flex-start;
  }

  .featured-products li {
    height: 10.75rem;
  }

  #nav-main {
    height: 100%;
  }

  .home-page-header {
    text-align: left;
  }

  #links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #322d33;
    z-index: 1;
  }

  #links a,
  #links #shopping-cart-button {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: left;
  }

  #links a:hover,
  #links #shopping-cart-button:hover {
    background-color: #5a1c6b;
  }

  .company-values {
    margin-left: 0;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}