@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@400;700&display=swap");

a {
  text-decoration: none;
}

#about-container {
  display: flex;
  margin-top: 80px;
  margin-left: 40px;
}

#about-description p {
  width: 490px;
  margin-top: 10px;
}

.about-header {
  font-size: 2.125rem;
  margin: 0px;
}

#about-image img {
  margin-right: 30px;
  border-radius: 50%;
}

.adj-btn {
  font-size: 1.075rem;
  width: 30px;
  height: 37px;
  background-color: #9e42b8;
  color: #ffffff;
  padding: 0px;
  border-style: none;
  margin: 10px 0px 0px 0px;
}

.badge {
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
  color: #403637;
  padding: 3px 8px 3px 8px; /* Set padding to 3px once the number is >= 10 */
  background-color: #8cb842;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  left: 15px;
  top: 20px;
  visibility: hidden;
}

.black-background {
  background-color: #403637;
  width: 215px;
  height: 75px;
  opacity: 0.8;
  position: absolute;
  top: 102px;
  border-radius: 5px;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  width: 960px;
  margin: auto;
}

.cart-dec-btn {
  right: 38px;
  width: 10px;
  margin-right: 5px;
}

.cart-header {
  border-bottom: 2px solid #b0b0b9;
  border-top: 2px solid #b0b0b9;
  width: 190px;
  color: #5a1c6b;
  margin: auto;
  text-align: center;
}

.cart-inc-btn {
  right: 16px;
}

.cart-item-list ul {
  display: flex;
  flex-direction: column;
  height: 369px;
  overflow: scroll;
  overflow-x: hidden;
}

.cart-item-list li {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  padding-left: 15px;
  padding-right: 15px;
}

.cart-item-list li:nth-child(even) {
  background-color: #e5e5e8;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.cart-item-list li p {
  margin: auto;
  display: inline-block;
}

.cart-quantity-btn {
  color: #ffffff;
  background-color: #9e42b8;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  top: 78px;
  padding: 0.25px 4px 0.25px 4px;
}

.cart-summary {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.checkout-btn {
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  color: #ffffff;
  background-color: #8cb842;
  border-style: none;
  border-radius: 5px;
  padding: 10px 12px 10px 12px;
  margin-top: 10px;
}

#company-overview {
  margin-top: 50px;
}

.company-values {
  margin-left: 240px;
}

.company-values img {
  border-radius: 50%;
}

.company-values li {
  display: flex;
  margin-bottom: 20px;
}

.company-value-text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.company-value-text p {
  margin: 10px 0px 0px 0px;
  width: 490px;
}

.dec {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 10px;
}

.delete-btn {
  color: #ffffff;
  padding: 1px 6px 1px 6px;
  background-color: #9e42b8;
  border-radius: 50%;
  position: absolute;
  height: 21px;
  text-align: center;
  vertical-align: middle;
  right: 8px;
  top: 8px;
}

.featured-products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 8rem;
  width: auto;
  margin: auto;
  margin-bottom: 100px;
  
}

.featured-product-name {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0px;
  margin-left: 15px;
  margin-top: 12px;
}

.featured-product-price {
  font-size: 1.125rem;
  color: #cfd8dc;
  margin: 0px;
  margin-left: 15px;
}

.featured-products img {
  border-radius: 5%;
}

.featured-products li {
  position: relative;
  width: 215px;
  margin-left: .25rem;
  margin-right: .25rem;
}

.featured-products li:nth-child(2) {
  margin-right: 50px;
  margin-left: 50px;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 1.3125rem;
  font-family: "Kaushan Script", cursive;
  height: 1.625rem;
  vertical-align: middle;
  margin: 0px;
  margin-right: 490px;
  margin-bottom: 10px;
}

h1 a {
  color: #ffffff;
}

h2 {
  font-size: 1.68rem;
  color: #496b11;
}

h2.home-page-header {
  font-size: 1.6875rem;
  color: #5a1c6b;
  text-align: center;
  font-family: "Kaushan Script", cursive;
}

h2.home-page-header.tagline {
  margin-top: 120px;
  font-family: "Kaushan Script", cursive;
}

h3 {
  font-size: 1.5rem;
  color: #496b11;
  margin: 0px;
}

header {
  height: 60px;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
}

.inc {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.item-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.item-price-div {
  display: inline-block;
}

.item-container {
  display: flex;
  margin-top: 10px;
}

.mobile-menu-btn {
  display: none;
}

.nav-logo {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  max-height: 55px;
}

#nav-main {
  display: flex;
  margin: 0px;
  padding: 0px;
}

#nav-main a {
  font-size: 0.975rem;
  color: #ffffff;
  margin-right: 20px;
  width: auto;
  text-align: center;
  padding-top: 5px;
}

p {
  font-size: 1.125rem;
}

.paypal-btn {
  width: 155px;
}

.product-details-container {
  display: flex;
}

.product-name {
  font-size: 1.125rem;
  margin: 0px;
}

#product-page-cart-btn {
  font-size: 1.06rem;
  width: 156px;
  height: 50px;
  background-color: #9e42b8;
  color: #ffffff;
  padding: 12px 0px 12px 0px;
  border-style: none;
  border-radius: 5px;
  margin: 15px 0px 0px 10px;
}

#product-page-container {
  display: flex;
  margin-top: 80px;
}

.product-page-header {
  margin-top: 0px;
  margin-bottom: 0px;
}

#product-page-image {
  margin-right: 30px;
}

#product-page-quantity {
  display: flex;
}

#product-page-size {
  display: flex;
}

.product-price {
  font-size: 1.125rem;
  margin: 0px;
  text-align: right;
  position: absolute;
  right: 0px;
}

#product-quantity-input {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: #b1c0c4;
  border-style: none;
  border-color: #f3f3f3;
  width: 50px;
  height: 17px;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 0px 0px;
  color: #40494c;
  text-align: center;
}

#product-size-list {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  background-color: #b1c0c4;
  border-radius: 5px;
  border-color: #f3f3f3;
  width: 115px;
  margin: 10px auto 10px 15px;
  color: #40494c;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
}

.products-list li {
  margin-right: 50px;
  position: relative;
}

#products-page {
  margin-top: 80px;
}

#products-page h2 {
  font-size: 2.125rem;
}

.shopping-cart {
  position: relative;
}

.shopping-cart-dropdown {
  position: absolute;
  right: 15px;
  top: 50px;
  width: 210px;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e8;
  border-radius: 3px;
  background-color: #fbfbff;
  visibility: hidden;
}

.shopping-cart-dropdown
  p:not(.cart-quantity-btn):not(.delete-btn):not(.cart-header) {
  color: black;
  font-size: 1.15rem;
}

.shopping-cart-logo {
  vertical-align: middle;
  width: 25px;
}

#site-masthead {
  background-color: #5a1c6b;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.total-price {
  display: flex;
  margin-top: 13px;
}

.total-price p:first-child {
  font-weight: bold;
}

.total-price p {
  margin: 0px auto 0px auto;
}

.triangle-up {
  position: absolute;
  top: 42px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 9px solid #ffffff;
  z-index: 3;
  visibility: hidden;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
